*.swp
package-lock.json
__pycache__
.pytest_cache
.env
.venv
*.egg-info
cdk_mwwa_blogpost/cdk_mwwa_blogpost_stack.py
cdk_mwwa_blogpost/argparseTest.py

# CDK asset staging directory
.cdk.staging
cdk.out
